<link rel="stylesheet" href="css/home.css" />

<div id="page">
    <header>
        <h1>YSWOR FIRST PAGE</h1>
    </header>
    <main>
        <div class="menu">
            <a class="menu-item" href="/post/1">FIRST POST</a>

        </div>
    </main>
</div>
